<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  	<title>Wittel Strategy & Development</title>
	<link href="https://fonts.googleapis.com/css?family=Archivo:500|Cardo|Montserrat:500&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div uk-grid>
			<div class="uk-width-3-4@m">
				<img src="./img/fabianwittel.jpg" id="face" class="" style="height: 200px; width: 100%">
			</div>
		</div>
		<div uk-grid>
			<div class="uk-width-1-2@m">
				<h1>Wittel Strategy<br>and Development</h1>
				<p>Lorem Ipsum</p>
				<a href="" uk-icon="icon: linkedin"></a>
				<a href="" uk-icon="icon: mail"></a>
			</div>
			<div class="uk-width-1-4@m">
				<img src="./img/logo.jpg" id="logo" class="" width="auto" height="100">
			</div>
		</div>
	</header>
	<main uk-grid class="uk-child-width-1-4@m">
		<!-- (div>h2+p.leader+p)*3 -->
		<div></div>
		<div>
			<h2>Lorem</h2>
			<p class="leader"></p>
			<p></p>
		</div>
		<div>
			<h2>Ipsum</h2>
			<p class="leader"></p>
			<p></p>
		</div>
		<div>
			<h2>Dolor</h2>
			<p class="leader"></p>
			<p></p>
		</div>
	</main>
	<footer>
		Impressum
	</footer>
</body>
</html>