<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  	<title>Wittel Strategy & Development</title>
	<link id="favicon" rel="shortcut icon" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Archivo:500|Cardo|Montserrat:500&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div id="header-images" class="uk-clearfix">
			<div id="face" class="uk-float-left">
				<img>
			</div>
			<div id="logo" class="uk-float-right">
				<img>
			</div>
		</div>
		<div id="header-texts">
			<div uk-grid>
				<div class="uk-width-2-3@m">
					<h2>Wittel Strategy & Development</h2>
					<h1>Making You Thrive in Complexity</h1>
					<p>I’m here to help you and your organization adapt to new challenges and thrive in increasingly complex environ&shyments. For your organization, we review and update routines, communications and architecture in <span class="marker">organizational development</span>. If necessary, we raise the organization’s self-awareness with customized <span class="marker">data visualization</span>. For you, yourself, we're building a personal <span class="marker">knowledge graph</span> that makes new knowledge more actionable in your daily life.</p>
					<div uk-sticky="offset: 40, media: @m">
						<h3>Contact</h3>
						<a class="uk-icon-button" href="mailto:mail@fabianwittel.com" target=”_blank” uk-icon="icon: mail"></a>
						<a class="uk-icon-button" href="https://www.linkedin.com/in/fabianwittel/" target=”_blank” uk-icon="icon: linkedin"></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<!-- <div id="aside" uk-sticky="offset: 40">
			<h2>Let's talk</h2>
			<a class="uk-icon-button" href="" uk-icon="icon: mail"></a>
			<a class="uk-icon-button" href="" uk-icon="icon: linkedin"></a>
		</div> -->
		<!-- (div>h2+p.leader+p)*3 -->
		<div id="main-columns" uk-grid class="uk-child-width-1-3@m">
			<div>
				<h2>Organizational Development</h2>
				<div class="leader">
					<p>
						Organizations need qualities of a living organism to be successful in an ever-changing world: react quickly to new challenges and use experience on the old ones. We can start our work in your organization with a health check: Are responsiblities clearly defined, are the organization’s feedback loops closed, is it well-connected to customers needs? Then, not to waste resources, are repetitive processes clearly defined, streamlined and as automated as reasonable?
					</p>
				</div>
				<ul uk-accordion>
					<li>
						<a class="uk-accordion-title" href="#">Show experience and tools</a>
						<div class="uk-accordion-content">
							<p>
								If we need AI, I’m working with <a href="https://www.appliedai.de/" target=”_blank”>appliedAI</a>, a TUM gGmbH. If operative excellence is under control we look at innovation: does the organization have a stringent and continuous system to develop business opportunities? Based on the analysis we can improve on ypur organization's architecture, governance and processes. To add a broad background to my own experience I’m doing all organizational development projects in sparring or cooperation with <a href="https://www.berylls.com/" target=”_blank”>berylls</a> or <a href="https://equwin.com/en/equwin-home-2/" target=”_blank”>Equ:Win</a>.
							</p>
							<p>
								Even if we’re starting small (for example establishing a system that self-enforces clear responsibilities) I’ll put a focus on the inherent design principles of your organization. Only by putting them first the whole system will self-improve even further in the long run.
							</p>
							Selected projects:
							<ul>
								<li>Strategy process for plant leaders in a big automobile producer</li>
								<li>Process refinement and responsibility mapping for digital platform startup</li>
								<li>Board moderation and development in big automobile producer</li>
								<li>Transformation from yearly process to continuous portfolio adaption in worldwide production network</li>
								<li>Implementation of training certification for service technicians in machining world market leader</li>
							</ul>
							<p>
								Tools I use:
							</p>
							<ul>
								<li>Leadership workshops (organized over 300 workshops by now from two to 300 participants)</li>
								<li>Analysis of organizational datasets</li>
								<li>Surveys (online/offline, live or accumulated)</li>
								<li>Grassroot movements</li>
							</ul>
							<p>
								Outlook: If complexity increases further, centralized strategy gets weakened in its ability to align actions and identify people with a common cause. Therefore we’ve set up <a href="https://navigatebyfiction.com/" target=”_blank”>Navigate by Fiction</a>, a strategy process to make effective cooperation emerge in a hypercomplex world.
							</p>					
						</div>
					</li>
				</ul>
			</div>
			<div>
				<h2>Data<br>Visualization</h2>
				<div class="leader">
					<p>
						All <span class="marker">organizational success is built on previous learning</span>. True learning needs a clear connection between action and effect, a short feedback delay being critical for an organization learning fast. In many processes those connections betweenn action effect are not explicit or hampered by tedious and time-consuming manual data collection. Selecting the right results and indicators for your core processes; auto&shymating data parsing and visualization add motivation and set your organization up for self-improvement. Apart from that you’re saving manual work in generation of repetitive reports of course.
					</p>
				</div>
				<ul uk-accordion>
					<li>
						<a class="uk-accordion-title" href="#">Show experience and tools</a>
						<div class="uk-accordion-content">
							<p>
								Another aspect I like to use visualizations for is providing the big picture, the organization’s health for each and every employee interested. In times of high volatility and implicitly more decisions, the context of everyone’s own decisions gets more relevant. When creating data visualizations I work directly with the prospect users, integrate them in a design thinking process to evaluate the visualizations’ effect as early as possible. The visualizations I build are as minimalistic as possible, only showing the most crucial metrics, allowing to dig deeper if necessary. 
							</p>
							<p>
								Tools I use:
								<ul>
									<li>JavaScript and d3.js to build visualizations that run in every web browser</li>
									<li>RawGraphs or Tableau to build prototypes</li>
									<li>Python for data cleaning</li>
								</ul>
							</p>
							Selected projects:
							<ul>
								<li>Data visualization suite for an innovation management IT platform</li>
								<li>Value stram visualization for a global engine production network</li>
								<li>Typographic network visualization for a personal knowledge management tool</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<h2>Knowledge<br>Graph</h2>
				<p class="leader">
					This is my most advanced field of action, the synergy of many projects I did. We've got a world full of data with more information than we can cope with. However there seems to be a limiting factor on the way to effective implementation of new knowledge in our daily lives, of deriving wisdom from all that knowledge. Together with Johannes Zahn, I'm building an app that solves this problem. We're currently in closed beta so please put your name on our mailing list if you want to be contacted for a preview.
				</p>
				<p>
					<a href="http://intuify.it/" target=”_blank”>Intuify - Your personal knowledge space.</a>
				</p>
			</div>
		</div>
	</main>
	<footer class="uk-clearfix">
		<span class="uk-float-left">Fabian Wittel, Friedenheimer Brücke 19 in 80639 München, <a href="mailto:mail@fabianwittel.com">mail@fabianwittel.com</a></span>
	</footer>
	<div uk-modal id="modal-cookies">
		<div class="uk-modal-dialog uk-modal-body uk-position-bottom uk-width-1-1 ">
			<button type="button" class="uk-alert-close" uk-close></button>
			<h2>Your Data</h2>
			<p>No cookies here - let's have a call instead.</p>
			<button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
		</div>
	</div>
</body>
</html>